@import "../../index.scss";

#link-navigator {
  width: 60px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
}

#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  cursor: pointer;
  margin: 20px 0;
  width: 15px;
  height: 4px;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
  @media #{$desktopsmall} {
    margin: 15px 0;
  }
}
