@import "../../index.scss";

#about {
  background-color: $naranja;
  height: 100vh;
  transition: transform 0.6s ease-in-out;
}

.title {
  //   background-color: $gris;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 20vh;
  margin: auto;
  @media #{$desktopsmall} {
    width: 70%;
  }
  h1 {
    color: $crema;
    font-size: 70px;
    margin: 250px 0 0;
    width: 100%;
    @media #{$desktopsmall} {
      background-size: 55% 80%;
    }
  }
  h2 {
    color: $crema;
    width: 100%;
  }
}
.service-flex {
  display: flex;
  justify-content: space-between;
  width: 60%;
  visibility: hidden;
  opacity: 0;
  $speedtransition: 0.5s;
  transition: visibility $speedtransition ease-in-out, opacity $speedtransition ease-in-out,
    margin $speedtransition ease-in-out;
  margin: 250px auto 0;
  &.show {
    visibility: visible;
    opacity: 1;
    margin: 180px auto 0;
  }
  @media #{$desktopsmall} {
    width: 70%;
  }
  .service {
    display: flex;
    flex-direction: column;
    img {
      width: 100px;
      height: 100px;
    }
    &:first-child {
      img {
        animation: float 4s ease-in-out infinite;
        overflow: hidden;
        transform: translatey(0px);
      }
    }
    &:nth-child(2) {
      img {
        animation: floatAlt 4s ease-in-out infinite;
        overflow: hidden;
        transform: translatey(0px);
      }
    }
    &:nth-child(3) {
      img {
        animation: float 4s ease-in-out infinite;
        overflow: hidden;
        transform: translatey(0px);
      }
    }
    &:last-child {
      img {
        animation: floatAlt 4s ease-in-out infinite;
        overflow: hidden;
        transform: translatey(0px);
      }
    }
    h3,
    p {
      color: $crema;
    }
    h3 {
      margin: 30px 0 20px;
      font-weight: 700;
      font-size: 20px;
      // color: $gris;
    }
    p {
      margin: 10px 0;
      // color: $gris;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatAlt {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(6px);
  }
  100% {
    transform: translatey(0px);
  }
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  //   position: absolute;
  width: 100%;
  //   background-color: $gris;

  .img {
    background-image: url("../../assets/workspace.png");
    background-size: cover;
    width: 450px;
    height: 450px;
    animation: float 6s ease-in-out infinite;
    overflow: hidden;
    transform: translatey(0px);
    @media #{$desktopsmall} {
      width: 400px;
      height: 400px;
    }
  }
  .content-text {
    position: absolute;
    z-index: 20;
    display: flex;
    height: 80vh;
    width: 85%;
    margin: auto;
    @media #{$desktopsmall} {
      width: 85%;
    }
    h2 {
      color: $crema;
      text-align: center;
      margin-bottom: 0;
    }
    .left {
      margin-top: 50px;
      //   margin-left: 8%;
      width: 50%;
      @media #{$desktopsmall} {
        margin-top: 10px;
      }
      ul {
        padding-left: 10px;
      }
      ul > li {
        font-size: 23px;
        color: $crema;
        margin: 50px 0;
        @media #{$desktopsmall} {
          font-size: 22px;
        }
        &:first-child {
          width: 80%;
          margin-top: 0px;
        }
        &:nth-child(2) {
          width: 60%;
        }
        &:nth-child(3) {
          width: 60%;
        }
        &:nth-child(4) {
          width: 70%;
        }
      }
    }
    .right {
      width: 50%;
      ul {
        margin-left: 35%;
      }
      ul > li {
        font-size: 26px;
        color: $crema;
        margin: 20px 0;
        margin-left: 30px;
        &:first-child {
          width: 85%;
          margin-left: 0;
          margin-top: 30px;
        }
        &:nth-child(2) {
          margin-left: 15px;
        }
        &:nth-child(8) {
          margin-left: 15px;
        }
        &:nth-child(4) {
          margin-left: 45px;
        }
        &:nth-child(5) {
          margin-left: 50px;
        }
        &:nth-child(6) {
          margin-left: 45px;
        }
        // &:nth-child(3){
        //     margin-left: 120px;
        // }
        // &:nth-child(4) {
        //     margin-left: 120px;
        // }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
