@import '../../index.scss';

#about{
    position: relative; 
    background-color: $gris;
    height:100vh;
    transition: transform 0.3s ease-in-out;
}

.title{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    h1{
        color:$crema;
        font-size: 80px;
        // text-align: center;
        margin:0;
        margin-top:50px;
        margin-left:10%;
        // border-right: solid $crema 10px;
        width:100%;
    }
}