@import "../../index.scss";

#home {
  position: relative;
  @media only screen and (min-width: 2000px) {
    width: 2000px;
    margin: auto;
  }
}

@keyframes illustration {
  0% {
    clip-path: inset(100% 100%);
  }
  100% {
    clip-path: inset(0% 0%);
  }
}


#intro {
  background-color: #f2f2f2;
  display: flex;
  padding: 150px 120px 0;
  min-height: 85.5vh;
  position: relative;
  @media #{$mobile} {
    flex-direction: column;
    padding: 20px 0;
  }
  @media #{$desktopsmall} {
    padding: 140px 100px 0;
  }
  .intro-text {
    position: absolute;
    z-index: 20;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    @media #{$desktop4k} {
      // padding: 180px 0 0;
      width: 50%;
    }
    @media #{$desktopsmall} {
      // padding: 120px 0 0;
    }
    @media #{$mobile} {
      width: 90%;
      padding: 0;
      padding-left: 10%;
    }
    h1 {
      font-weight: 500;
      // background-image: url("../../assets/mancha.png");
      // background-size: 100% 40%;
      // background-position: 50% -5%;
      // background-repeat: no-repeat;
      margin: 0;
      font-size: 52px;
      width: fit-content;
      @media #{$desktop4k} {
        font-size: 60px;
      }
      @media #{$desktopsmall} {
        font-size: 40px;
      }
      @media #{$mobile} {
        font-size: 35px;
        // text-align:center;
      }
    }
    h2 {
      font-size: 22px;
      margin: 22px 0 32px;
      font-weight: 500;
      width:fit-content;
    }
    p {
      width: fit-content;
      width: 90%;
      margin-top: 0;
      margin-bottom: 11px;
      font-size: 19px;
      &.last {
        margin-bottom: 32px;
      }
    }
    ul {
      margin: 11px 0 21px;
      list-style-image: url("../../assets/check-in.png");
      @media #{$mobile} {
        width: 300px;
      }
    }
    ul > li {
      font-size: 19px;
      margin: 16px 0;
      padding-left: 10px;
      @media #{$mobile} {
        width: auto;
      }
    }

    .btn-container {
      display: flex;
      @media #{$mobile} {
        width: 300px;
      }
      button {
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 10px;
        color: $crema;
        font-size: 18px;

        padding: 10px 20px;
        transition: box-shadow 0.2s ease-in-out;
        &:hover {
          box-shadow: 5px 5px 18px #888888;
        }
        &:active {
          opacity: 0.8;
        }
        @media #{$desktopsmall} {
          // font-size: 13px;
        }
        @media #{$mobile} {
          font-size: 15px;
        }
        &:first-child {
          margin-right: 15px;
        }
        &.naranja {
          background: $naranja;
          background: #f96d00;
        }
        &.gris {
          display: flex;
          background: $gris;
          img {
            margin-left: 10px;
            width: 25px;
          }
          // display: none;
        }
      }
    }
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    width: 40%;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 25%;
    
    @media #{$desktopsmall} {
      width: 40%;
      top:40%;
      left:55%
    }
    img {
      overflow: hidden;
      transform: translatey(0px);
      width: 100%;
      @media #{$desktop4k} {
        width: 80%;
      }
      @media #{$mobile} {
        padding-top: 70px;
        width: 80%;
      }
      &.animate {
        animation:float 6s ease-in-out infinite, illustration 2s ease-in-out;
      }
    }
  }
}
