@import "../../index.scss";

#home {
  position: relative;
  @media only screen and (min-width: 2000px) {
    width: 2000px;
    margin: auto;
  }
}

@keyframes illustration {
  0% {
    clip-path: inset(100% 100%);
  }
  100% {
    clip-path: inset(0% 0%);
  }
}

#intro {
  background-color: #f2f2f2;
  display: flex;
  padding: 140px 120px 0;
  min-height: 82.5vh;
  @media #{$mobile} {
    flex-direction: column;
    padding: 20px 0;
  }
  @media #{$desktopsmall} {
    padding: 140px 100px;
  }
  .intro-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    @media #{$desktop4k} {
      // padding: 180px 0 0;
      width: 50%;
    }
    @media #{$desktopsmall} {
      width: 100%;
      // padding: 120px 0 0;
    }
    @media #{$mobile} {
      width: 90%;
      padding: 0;
      padding-left:10%;
    }
    h1 {
      // background-image: url("../../assets/mancha.png");
      // background-size: 100% 40%;
      // background-position: 50% -5%;
      // background-repeat: no-repeat;
      margin: 0 0 24px;
      font-size: 44px;
      @media #{$desktop4k} {
        font-size: 60px;
      }
      @media #{$desktopsmall} {
        font-size: 40px;
      }
      @media #{$mobile} {
        font-size: 35px;
        // text-align:center;
      }
    }
    p {
      width: 90%;
      margin-top: 0;
      margin-bottom: 11px;
      font-size: 19px;
      &.last {
        margin-bottom: 32px;
      }
    }
    ul {
      margin: 0 0 11px;
      list-style-image: url("../../assets/check-in.png");
      @media #{$mobile}{
        width:300px;
      }
    }
    ul > li {
      font-size: 19px;
      margin: 16px 0;
      padding-left: 10px;
      @media #{$mobile}{
        width:auto;
      }
    }

    .btn-container {
      display: flex;
      @media #{$mobile} {
        width:300px;
      }
      button {
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        color: $crema;
        font-size: 17px;
        padding: 10px 20px;
        transition: box-shadow 0.2s ease-in-out;
        &:hover{
          box-shadow: 5px 5px 18px #888888;
        }

        @media #{$desktopsmall} {
          // font-size: 13px;
        }
        @media #{$mobile} {
          font-size: 15px;
        }
        &:first-child {
          margin-right: 15px;
        }
        &.naranja {
          background: $naranja;
          background: #f96d00;
        }
        &.gris {
          background: $gris;
          // display: none;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    @media #{$desktopsmall} {
      width: 90%;
    }
    img {
      width: 100%;
      margin-bottom: 80px;
      @media #{$desktop4k} {
        width: 80%;
      }
      @media #{$mobile} {
        padding-top: 70px;
        width: 80%;
      }
      &.animate {
        animation: illustration 2s ease-in-out;
      }
    }
  }
}
