@import "../../index.scss";

#navbar {
  padding: 30px 15px;
  display: flex;
  background-color: $crema;
  position: fixed;
  width: 100%;
  z-index: 100;
  @media #{$desktop4k} {
    width: 2000px;
    margin: auto;
  }
  @media #{$mobile}{
    padding: 30px auto; 
    position: initial;
    display:flex;
  }
}

#logo {
  display: flex;
  align-items: center;
  img {
    padding-left: 35px;
    width: 60px;
    @media #{$desktop4k} {
      width: 80px;
    }
    @media #{$desktopsmall} {
      width: 50px;
    }
    @media #{$mobile} {
      width: 50px;
      padding-left: 0;
    }
  }
  h2 {
    margin: 0;
    padding-left: 45px;
    font-size: 25px;
    @media #{$desktop4k} {
      font-size: 30px;
    }
    @media #{$desktopsmall} {
      padding-left: 22px;
      font-size: 17px;
    }
    @media #{$mobile} {
      padding-left: 25px;
      font-size:22px;
    }
  }
}

#links {
  display: flex;
  align-items: center;
  margin-left: auto;
  @media #{$mobile} {
    display: none;
  }
  p {
    margin: 0 35px;
    border-bottom: none;
    font-size: 15px;
    cursor: pointer;
    @media #{$desktop4k} {
      font-size: 25px;
    }
    @media #{$desktopsmall} {
      font-size: 12px;
      margin: 0 18px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:after {
      display: block;
      content: "";
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      padding-bottom: 5px;
      border-bottom: solid $negro 3px;
    }
    &:hover:after {
      transform: scaleX(1);
    }
    &.active:after {
      display: block;
      content: "";
      transform: scaleX(1);
      transition: transform 0.3s ease-in-out;
      padding-bottom: 5px;
      border-bottom: solid $negro 3px;
    }
  }
}

#socials {
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media #{$desktopsmall} {
    margin: auto 100px auto 80px;
  }
  @media #{$mobile} {
    display:none;
  }
  a {
    outline: none;
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.8;
    }
    @media #{$mobile} {
      margin:0 5px; 
    }
  }
  img {
    width: 30px;
    cursor: pointer;
    @media #{$desktop4k} {
      width: 35px;
    }
    @media #{$desktopsmall} {
      width: 18px;
    }
    @media #{$mobile} {
      width: 18px;
    }
  }
}
